.holder {
  display: flex;
  flex-wrap: wrap;
  border: 10px dashed purple;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  margin: 0 auto;
  max-width: 150px;
  height: 200px;
}

.item {
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-basis: calc(100% / 3);
}

.item-1 {
  flex-basis: 50%;
  background-color: rgb(253, 100, 77);
  border-top-left-radius: 75px 75px;
}

.item-2 {
  background-color: rgb(73, 131, 178);
  order: 3;
}

.item-3 {
  background-color: rgb(47, 189, 34);
  order: 2;
}

.item-4 {
  background-color: rgb(14, 127, 18);
  order: 4;
}

.item-5 {
  flex-basis: 50%;
  background-color: rgb(253, 164, 41);
  border-top-right-radius: 75px;
  order: 1;
}
